@font-face {
 font-family: 'Karla';
 src: url('/static/Karla.ttf');
 }
* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  top:0;
  left: 0;
  right: 0;
  z-index: 99;
  position: fixed;
  text-align:center;
  background: #292929;
  padding:0;
}
.header ul {

  display: inline-block;
  list-style: none;
}
.header li {
  float:left;
  padding:12px;
  padding-left:40px;
  transition: all 0.5s ease;
  font-size: 19px;
  font-weight:500;
  color:white;
}
.header a {
  color:white;
  text-decoration: none;
}
.header li:hover{
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}
.header img {
  float:left;
  width: 65px;
  height:80px;
}
.header img:hover{
  -webkit-animation: tada 1s;
  animation: tada 1s;
}

.wrap {
  width: 85%;
  margin:10px auto;
  text-align:center;
}

.show {
  float: left;
  margin:0px auto;
  text-align:center;
}

.show img{
  width: 90%;
  border-top: : 2px solid #fff;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(204,204,204,0.55);
}

.sidebar {
  margin-right: 10%;
  float:right;
}
.sidebar p{
  font-size: 24px;
  font-weight: normal;
}
.sidebar p:last-child {
  margin: 0;
}

.sidebar img {
    width: 400px;
    height: 300px;
}