* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  top:0;
  left: 0;
  right: 0;
  z-index: 99;
  position: fixed;
  text-align:center;
  background: transparent;
  padding:0;
}
.header ul {
  display: inline-block;
  list-style: none;
}
.header li {
  float:left;
  padding:12px;
  padding-left:40px;
  transition: all 0.5s ease;
  font-size: 19px;
  font-weight:500;
  color:white;
}
.header a {
  color:white;
  text-decoration: none;
}
.header li:hover{
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}
.header img {
  float:left;
  width: 65px;
  height:80px;
}
.header img:hover{
  -webkit-animation: tada 1s;
  animation: tada 1s;
}

.wrap {
  width: 85%;
  margin:10px auto;
  text-align:center;
}

.show {
  float: left;
  margin:40px;
  text-align:center;
}

.show img{
  max-width: 630px;
  max-height: 540px;
  border-top: : 2px solid #fff;
    -webkit-box-shadow: 0 0 12px 1px rgba(87,87,87,0.2);
}

.sidebar {
  margin:40px;
  width: 450px;
  float:right;
}
.sidebar h4{

  font-size: 28px;
  font-weight: normal;
}
.sidebar p{

  font-size: 16px;
  font-weight: normal;
}

.sidebar p:last-child {
  margin: 0;
}

.sidebar img {
    width: 400px;
    height: 300px;
}

.box{
    width:1000px;
    background:#fff;
    margin:30px auto;

}
.box .head span{
    font-size:18px;
    color:#333;
}
.box .head{
    margin-bottom:20px;
}
.box .head a{
    text-decoration:none;
    float:right;
    font-size:15px;
    color:#333;
}
.box .head a:hover{
    color:#F00;
}

.box ul li{

    width:180px;
    height:240px;
    list-style:none;
    position:relative;
    float:left;
    margin-left:20px;
    margin-bottom:20px;
    overflow:hidden;
}
.box ul li .deatil{
    width:180px;
    height:240px;
    background:rgba(0,0,0,0.7);
    position:absolute;
    top:-240px;
    -webkit-transition:all 0.3s ease;<!--适应ie，谷歌，苹果浏览器内核-->
    -o-transition:all 0.3s ease;<!--适应Opera浏览器内核-->
    -moz-transition:all 0.3s ease;<!--火狐浏览器-->
    -ms-transition:all 0.3s ease;<!--微软-->
}

.box img{
  width:180px;
  height: 240px;
}
.box ul li .deatil h2{
    font-size:24px;
    font-weight: 500;
    color:#fff;
    text-align:center;
    padding-top:30px;

    }
.box ul li .deatil p{
    font-size:16px;
    text-align:center;
    margin:12px;
    margin-top: 30px;
    color:#fff;
}
.box ul li .deatil a{
    font-size:16px;
    font-weight: 600;
    display:inline-grid;
    color:#fff;
    background-color:#F00;
    text-decoration:none;
    width:100px;


   text-align:center;
    line-height:35px;
    margin:30 auto;
}
.box ul li:hover .deatil{
    top:0;
}

