<html>
<meta charset="UTF-8">
  <head>
    <title>啾啾啾 | {{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='animate.min.css') }}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ url_for('static',filename='lazyload.js') }}"></script>


  </head>
<body>
<script type="text/javascript">
$(function() {
$("img").lazyload({
effect : "fadeIn"
});
});
</script>

  <div  class="header">
    <ul>
      <img class="lazyload" src="/static/logo.png">
      <li>
        <a href="/">首页<br>Home</a>
      </li>
      <li>
        <a href="/recognize">识别<br>Recognize</a>
      </li>
      <li>
        <a href="/enjoy">欣赏<br>Enjoy</a>
      </li>
    </ul>
  </div>

<div class="wrap">
  <br><br><br>
 {% block content %}{% endblock %}
</div>
</body>
</html>





