<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<style>
    body{background: url('/static/bird5.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;}
</style>

  <div class="box">
  <ul>
       {% for bird in birds %}
    <li>
      <div class="deatil">
         <h2>{{ bird.name }}</h2>
         <p>学名:&nbsp&nbsp{{ bird.sci_name }}</p>
         <a href="/bird/{{ bird.sci_name }}">More</a>
      </div>
      <img src="/birdsfiles/{{bird.sci_name}}.jpg" >
    </li>
    {% endfor %}
  </ul>
  </div>
{% endblock %}