<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<style>
    body{background: url('/static/bird6.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;}
</style>
<br>
    <form action="" method=post enctype=multipart/form-data>
       <input type=file class="upload-file" name=file hidden>
	<img id="up" src="/static/up.png" onclick="F_Open_dialog()">
    </form>

<script>
	function F_Open_dialog() 
       {
	$(".upload-file").click();  
       } 

	$('.upload-file').on('change', function(){
	    $(this).closest('form').submit();
	});
	$('form').submit( function(){
	});
</script>

<div class="show">

<img src="{{img}}"><br><br>
{{wav | safe}}
</div>
<br>
{% if result %}
<div class="sidebar">
    <br><br>
    <p>经分析，此鸟很有可能是<font size="6"><b><a href="/bird/{{ bird.sci_name }}">{{result}}</a></font></p><br><hr><br>
	<h5>耗时：</h5>
<ul>
<li>	格式转换  --- {{ t3 }}s</li>
<li>	提取特征  ---  {{ t0 }}s	</li>
<li>	数据绘制 ---  {{ t1 }}s </li>
<li>	概率计算 ---  {{ t2 }}s</li>
</ul>	


</div>
{% endif %}
{% endblock %}
