<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<style>
    body{background: url('/static/bird6.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;}
</style>

<font size='6'>请上传录音文件</font>
    <form action="" method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form><br>

<div class="show">
    <br><br>
<img src="{{img}}"><br><br>
{{wav | safe}}
</div>
<br>
{% if result %}
<div class="sidebar">
    <br><br>    <br><br>
        <p>经分析，此鸟很有可能是<font size="6"><b>{{result}}</font></p>



</div>
{% endif %}
{% endblock %}