<html>
<head>
<meta charset="utf-8">
    <title>啾啾啾 | {{ title }}</title>
<link href="{{ url_for('static',filename='base.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='welcome.css') }}" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static',filename='slide.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='animate.min.css') }}">
</head>
<body>
<div class="header">
    <ul>
      <img src="/static/logo.png">
      <li>
        <a href="/">首页<br>Home</a>
      </li>
      <li>
        <a href="/recognize">识别<br>Recognize</a>
      </li>
      <li>
        <a href="/enjoy">欣赏<br>Enjoy</a>
      </li>
    </ul>
  </div>
        <div class="carousel">
            <!--左侧按钮-->
            <button class="left"><<</button>
            <ul id="carousel">
                <li id="item1">
                    <img src="/static/img1.png">
                </li>
                <li id="item2">
                    <img src="/static/img2.png" >
                </li>
                <li id="item3">
                    <img src="/static/img3.png" >
                </li>
                <li id="item4">
                    <img src="/static/img4.png" >
                </li>
            </ul>
            <!--下方小圆点-->
            <div class="dot"><span class="active"></span><span></span><span></span><span></span></div>
            <!--右侧按钮-->
            <button class="right">>></button>
        </div>
</body>
</html>